{% extends "base.html" %}
{% load static %}
{% include 'custom.css' %}

<link href="{% static 'css/custom.css' %}" >

{% block metades %}
    <div class="meta-description">
        {{ product.description|truncatewords:150 }}
        Welcome to the product page
    </div>
{% endblock metades %}

{% block title %}
    <div class="page-title">
        {{ product.name }} - ABC Store
        See our new collection
    </div>
{% endblock title %}

{% block content %}
    <div class="breadcrumbs">
        <p>
            <a href="{% url 'shop:allProduct' %}">Home</a> |
            <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a> {{ product.name }}
        </p>
    </div>

    <div class="product-details">
        <div class="product-image">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>

        <div class="product-info">
            <h2>{{ product.name }}</h2>
            <h3>${{ product.price }}</h3>
            <p>Description: {{ product.description }}</p>
            {% if product.stock <= 0 %}
                <h3>Out of stock</h3>
            {% else %}
                
                <a style="background-color: brown;" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
